.gambar {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.kartu {
  max-width: 300px;
  width: 100%;
  background-color: yellow;
  border-radius: 15px;
  display: inline-block;
}
.kartu-isi {
  padding-left: 10px;
}
.kartu-footer {
  padding-bottom: 10px;
}
h2 {
  color: #51ff00;
}
